<!-- Dropdown für Datenauswahl -->
<button
  mat-raised-button
  type="button"
  class="btn btn-sm dropdown-toggle"
  data-toggle="dropdown"
  data-offset="-52"
  color="primary"
>
  {{ currentlySelectedPeriod }}
  <i class="fas fa-calendar-day"></i>
</button>
<div class="dropdown-menu" role="menu">
  <a (click)="selectTimeperiod('days')" class="dropdown-item">Last 7 days</a>
  <div class="dropdown-divider"></div>
  <a (click)="selectTimeperiod('week')" class="dropdown-item">Last 4 weeks</a>
  <div class="dropdown-divider"></div>
  <a (click)="selectTimeperiod('month')" class="dropdown-item">Last 6 months</a>
</div>
<button
  mat-raised-button
  type="button"
  class="btn btn-sm"
  data-card-widget="collapse"
  color="primary"
>
  <i class="fas fa-minus"></i>
</button>
