<div
  class="page-holder align-items-center py-4 vh-100"
  style="background-color: #ecf0f5"
>
  <div class="container">
    <div class="row align-items-center">
      <!-- Login -->
      <div class="col-lg-6 px-lg-4" *ngIf="showLogin">
        <div class="card">
          <div class="card-header px-lg-5">
            <div class="card-heading text-primary">Login</div>
          </div>
          <div class="card-body p-lg-5">
            <h3 class="mb-4">Welcome back!</h3>
            <p class="text-muted mb-5">
              This login will take you to the diabetes dashboard.
            </p>
            <form id="loginForm" action="index.html">
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  [(ngModel)]="userInputEmail"
                  name="inputEmail"
                  type="email"
                  placeholder="name@example.com"
                  required
                />
                <label>Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  [(ngModel)]="userInputPassword"
                  name="inputPassword"
                  type="password"
                  placeholder="Password"
                  required
                />
                <label>Password</label>
              </div>
              <button mat-raised-button color="primary" (click)="login()">
                Login
              </button>
            </form>
          </div>
          <div class="card-footer px-lg-5 py-lg-4">
            <div>
              You don't have an account yet?
              <a (click)="goToRegister()">To the registration</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Registrierung -->
      <div class="col-lg-6 px-lg-4" *ngIf="showRegister">
        <div class="card">
          <div class="card-header px-lg-5">
            <div class="card-heading text-primary">Registration</div>
          </div>
          <div class="card-body p-lg-5">
            <h3 class="mb-4">Register here for free!</h3>
            <p class="text-muted mb-5">
              Set your first and last name, your university, your email and a
              password.
            </p>
            <form action="index.html">
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  [(ngModel)]="createUserFirstName"
                  name="userFirstName"
                  placeholder="name@example.com"
                  required
                />
                <label>First name</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  [(ngModel)]="createUserLastName"
                  name="userLastName"
                  placeholder="name@example.com"
                  required
                />
                <label>Last name</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  [(ngModel)]="university"
                  name="university"
                  placeholder="Universität"
                  required
                />
                <label>University</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  [(ngModel)]="createEmail"
                  name="email"
                  type="email"
                  placeholder="name@example.com"
                  required
                />
                <label>Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  [(ngModel)]="createPassword"
                  name="password"
                  type="password"
                  placeholder="Password"
                  required
                />
                <label>Password</label>
              </div>
              <div class="form-group">
                <button
                  mat-raised-button
                  color="primary"
                  id="register"
                  type="button"
                  name="registerSubmit"
                  (click)="register()"
                >
                  Register
                </button>
              </div>
            </form>
          </div>
          <div class="card-footer px-lg-5 py-lg-4">
            <div>
              You have an account? <a (click)="goToLogin()">To the login</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6 text-center text-primary">
        <img width="700" src="/assets/img/DiabetesPicture.jpg" />
        <a href="https://de.freepik.com/vektoren/menschen"
          >Vektor created by pch.vector - de.freepik.com</a
        >
      </div>
    </div>
  </div>
</div>
