<app-header></app-header>
<div class="content" role="main">
  <h2><u>Overview of all users:</u></h2>

  <table
    #tableAllParticipants
    mat-table
    [dataSource]="userDataSourcePagination"
    class="mat-elevation-z8"
    class="color-primary"
  >
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.Id }}</td>
    </ng-container>

    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.Email }}</td>
    </ng-container>

    <ng-container matColumnDef="First Name">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.FirstName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Last Name">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.LastName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="University">
      <th mat-header-cell *matHeaderCellDef>University</th>
      <td mat-cell *matCellDef="let element">
        {{ element.University }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Address }}
      </td>
    </ng-container>

    <ng-container matColumnDef="User role">
      <th mat-header-cell *matHeaderCellDef>User role</th>
      <td mat-cell *matCellDef="let element">
        {{ element.UserRole }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Status }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element; let rowNr = index">
        <button
          mat-raised-button
          (click)="deleteUserFromStudy(rowNr)"
          color="primary"
        >
          Delete User
        </button>
        <div *ngIf="element.Status == 'accepted'">
          <button
            mat-raised-button
            (click)="blockOrAcceptUserForStudy(rowNr, element.Status)"
            color="primary"
          >
            Block User
          </button>
        </div>
        <div *ngIf="element.Status == 'blocked' || element.Status == ''">
          <button
            mat-raised-button
            (click)="blockOrAcceptUserForStudy(rowNr, element.Status)"
            color="primary"
          >
            Accept User
          </button>
        </div>
        <button
          mat-raised-button
          (click)="
            openAddEditUserDialog(
              'Edit User',
              rowNr,
              element.Id,
              element.Email,
              element.FirstName,
              element.LastName,
              element.University,
              element.Address,
              element.UserRole,
              element.Status
            )
          "
          color="primary"
        >
          Edit User
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedUserDataColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedUserDataColumns"></tr>
  </table>
  <mat-paginator
    [length]="100"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageSize]="pageSize"
    (page)="pageUsersChanged($event)"
    aria-label="Select page participants"
  >
  </mat-paginator>

  <button
    mat-raised-button
    class="longBtt"
    (click)="createNewUser()"
    color="primary"
  >
    Create new User
  </button>

  <br />
  <br />

  <h2><u>Overview of all Universitys:</u></h2>
  <table
    #tableAllUniversitys
    mat-table
    [dataSource]="uniDataSource"
    class="mat-elevation-z8"
    class="color-primary"
  >
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.Id }}</td>
    </ng-container>

    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">{{ element.Address }}</td>
    </ng-container>

    <ng-container matColumnDef="University">
      <th mat-header-cell *matHeaderCellDef>University</th>
      <td mat-cell *matCellDef="let element">
        {{ element.University }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedUniColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedUniColumns"></tr>
  </table>

  <br />
  <br />
  <h2><u>Create University:</u></h2>
  <div class="tab-pane" id="settings">
    <form class="form-horizontal">
      <div class="form-group row">
        <label for="userUniversity" class="col-sm-2 col-form-label"
          >Name:</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="userUniversity"
            name="userUniversity"
            [(ngModel)]="inputUniversity"
            placeholder="Name of University"
          />
        </div>
        <br />
        <label for="userUniversity" class="col-sm-2 col-form-label"
          >Address:</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="userUniversity"
            name="userUniversity"
            [(ngModel)]="inputUniversityAddress"
            placeholder="Address of University"
          />
        </div>
        <button mat-raised-button color="primary" (click)="createUniversity()">
          Create
        </button>
      </div>
    </form>
  </div>
</div>
