table {
  width: 140%;
}

.color-primary {
  background-color: #e1e8ff;
}

.mat-raised-button {
  margin: 7px;
  width: 115px;
  font-size: 15px;
  height: 37px;
}

.longBtt {
  margin: 7px;
  width: 170px;
}
