<div class="row justify-content-center">
  <div class="col-sm-3 form-group">
    <label for="location">Location</label>
    <select
      name="location"
      class="form-select"
      id="location"
      [(ngModel)]="selected"
      (ngModelChange)="applyFilter()"
    >
      <option value=""></option>
      <option value="siegen">Siegen</option>
      <option *ngFor="let userList">{{ userList.location }}</option>
    </select>
  </div>
  <div class="col-sm-3 form-group">
    <label for="activity"> Activity</label><br />
    <select
      name="activity"
      class="form-select"
      id="activity"
      [(ngModel)]="selected"
      (ngModelChange)="applyFilter()"
    >
      <!--<option value="{{activity}}"> {{ userList.activity }}</option>  interpolation -->
      <option value=""></option>
      <option value="running">running</option>
      <option value="swimming">swimming</option>
      <option value="cycling">cycling</option>
      <option value="hiking">hiking</option>
      <option value="others">others</option>
    </select>
  </div>
  <div class="col-sm-3 form-group">
    <label for="date">Date</label>
    <input
      type="date"
      id="date"
      class="form-control"
      name="date"
      [(ngModel)]="selected"
      (ngModelChange)="applyFilter()"
    />
  </div>
</div>
<div class="row">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">
        <i class="fas fa-chart-pie mr-1"></i>
        Activity
      </h3>
      <div class="card-tools">
        <select
          name="chartType"
          class="form-select"
          id="chartType"
          [(ngModel)]="type"
          (ngModelChange)="setDiagramData()"
        >
          <option selected value="line">Line</option>
          <option value="bar">Bar</option>
          <option value="radar">Radar</option>
          <option value="polarArea">Polar Area</option>
          <option value="doughnut">Doughnut</option>
        </select>
      </div>
    </div>

    <div class="card-body">
      <div class="tab-content p-0">
        <div
          class="chart tab-pane active"
          id="bar-chart"
          style="position: relative; height: flex"
        >
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="thead center">
    <button class="btn btn-sm btn-outline-primary top-margin" (click)="exporter.exportTable('xlsx')">Excel</button>
    <button class="btn btn-sm btn-outline-primary top-margin" (click)="exporter.exportTable('csv')">Csv</button>
    <button class="btn btn-sm btn-outline-primary top-margin" (click)="exporter.exportTable('json')">Json</button>
    <button class="btn btn-sm btn-outline-primary top-margin" (click)="exporter.exportTable('txt')">Txt</button>
    <button
      style="float: right"
      class="btn btn-sm btn-outline-primary top-margin"
      #menuTrigger="matMenuTrigger"
      [matMenuTriggerFor]="mainMenuButton"
    >
      hide
    </button>
    <mat-menu #mainMenuButton="matMenu">
      <span
        (click)="$event.stopPropagation()"
        *ngFor="let column of columnShowHideList; index as i"
      >
        <mat-slide-toggle
          [(ngModel)]="column.isActive"
          (change)="toggleColumn(column)"
        >
        </mat-slide-toggle>
        {{ column.name }}
        <br />
      </span>
    </mat-menu>
  </div>
  <table
    mat-table
    matTableExporter
    #table
    #TABLE
    class="mat-elevation-z8"
    [dataSource]="userListMatTabDataSource"
    #exporter="matTableExporter"
  >
    <ng-container matColumnDef="ID">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let user; let i = index">
        {{ i + 1 }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="UserID">
      <mat-header-cell *matHeaderCellDef>UserID</mat-header-cell>
      <mat-cell *matCellDef="let user">
        {{ user.userID }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Location">
      <mat-header-cell *matHeaderCellDef>Location</mat-header-cell>
      <mat-cell *matCellDef="let user">
        {{ user.location }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Activity">
      <mat-header-cell *matHeaderCellDef>Activity</mat-header-cell>
      <mat-cell *matCellDef="let user">
        {{ user.activity }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Calories">
      <mat-header-cell *matHeaderCellDef>Calories</mat-header-cell>
      <mat-cell *matCellDef="let user">
        {{ user.calories }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="BPM">
      <mat-header-cell *matHeaderCellDef>BPM</mat-header-cell>
      <mat-cell *matCellDef="let user">
        {{ user.bpm }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Achievement">
      <mat-header-cell *matHeaderCellDef>Achievement</mat-header-cell>
      <mat-cell *matCellDef="let user">
        {{ user.achievement }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Duration">
      <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>
      <mat-cell *matCellDef="let user">
        {{ user.duration }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Date">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let user">
        {{ user.date }}
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnList"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: columnList; let i = index"
      [class.selected]="selectedRow == row.id"
    >
    </mat-row>
  </table>
</div>
