<div class="row justify-content-center">
  <div class="col-sm-3 form-group">
    <label for="location">Location</label>
    <select
      name="location"
      class="form-select"
      id="location"
      [(ngModel)]="selected"
      (ngModelChange)="applyFilter()"
    >
      <option value=""></option>
      <option value="siegen">Siegen</option>
      <option *ngFor="let userList">{{ userList.location }}</option>
    </select>
  </div>
  <div class="col-sm-3 form-group">
    <label for="activity"> Activity</label><br />
    <select
      name="activity"
      class="form-select"
      id="activity"
      [(ngModel)]="selected"
      (ngModelChange)="applyFilter()"
    >
      <option value="{{userList}}"> {{ userList }}</option>  interpolation 
      <option value=""></option>
      <option value="running">running</option>
      <option value="swimming">swimming</option>
      <option value="cycling">cycling</option>
      <option value="hiking">hiking</option>
      <option value="others">others</option>
    </select>
  </div>
  <div class="col-sm-3 form-group">
    <label for="date">Date</label>
    <input
      type="date"
      id="date"
      class="form-control"
      name="date"
      [(ngModel)]="selected"
      (ngModelChange)="applyFilter()"
    />
  </div>
</div>
<div class="row">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">
        <i class="fas fa-chart-pie mr-1"></i>
        Activity
      </h3>
      <div class="card-tools">
        <select
          name="chartType"
          class="form-select"
          id="chartType"
          [(ngModel)]="type"
          (ngModelChange)="setDiagramData()"
        >
          <option selected value="line">Line</option>
          <option value="bar">Bar</option>
          <option value="radar">Radar</option>
          <option value="polarArea">Polar Area</option>
          <option value="doughnut">Doughnut</option>
        </select>
      </div>
    </div>

    <div class="card-body">
      <div class="tab-content p-0">
        <div class="chart tab-pane active" id="bar-chart">
          <canvas
            id="myChart"
            style="
              min-height: 250px;
              height: 250px;
              max-height: 300px;
              width: flex;
            "
          ></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="thead center">
    <button
      class="btn btn-sm btn-outline-primary top-margin"
      (click)="exporter.exportTable('xlsx')"
    >
      Excel
    </button>
    <button
      class="btn btn-sm btn-outline-primary top-margin"
      (click)="exporter.exportTable('csv')"
    >
      Csv
    </button>
    <button
      class="btn btn-sm btn-outline-primary top-margin"
      (click)="exporter.exportTable('json')"
    >
      Json
    </button>
    <button
      class="btn btn-sm btn-outline-primary top-margin"
      (click)="exporter.exportTable('txt')"
    >
      Txt
    </button>
    <button
      style="float: right"
      class="btn btn-sm btn-outline-primary top-margin"
      #menuTrigger="matMenuTrigger"
      [matMenuTriggerFor]="mainMenuButton"
    >
      hide
    </button>
    <mat-menu #mainMenuButton="matMenu">
      <span
        (click)="$event.stopPropagation()"
        *ngFor="let column of columnShowHideList; index as i"
      >
        <mat-slide-toggle
          [(ngModel)]="column.isActive"
          (change)="toggleColumn(column)"
        >
        </mat-slide-toggle>
        {{ column.name }}
        <br />
      </span>
    </mat-menu>
  </div>
  <table
    mat-table
    matTableExporter
    #table
    #TABLE
    class="mat-elevation-z8"
    [dataSource]="userListMatTabDataSource"
    #exporter="matTableExporter"
  >
    <ng-container matColumnDef="ID">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let userList; let i = index">
        {{ userList.id }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="UserID">
      <mat-header-cell *matHeaderCellDef>User ID</mat-header-cell>
      <mat-cell *matCellDef="let userList">
        {{ userList.userID }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Activity">
      <mat-header-cell *matHeaderCellDef>Activity</mat-header-cell>
      <mat-cell *matCellDef="let userList">
        {{ userList.activity }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Steps">
      <mat-header-cell *matHeaderCellDef>Steps</mat-header-cell>
      <mat-cell *matCellDef="let userList">
        {{ userList.steps }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Distance">
      <mat-header-cell *matHeaderCellDef>Distance</mat-header-cell>
      <mat-cell *matCellDef="let userList">
        {{ userList.distance }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Heartrate">
      <mat-header-cell *matHeaderCellDef>Heartrate</mat-header-cell>
      <mat-cell *matCellDef="let userList">
        {{ userList.heartrate }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="BloodSugarOxygen">
      <mat-header-cell *matHeaderCellDef>Blood Sugar</mat-header-cell>
      <mat-cell *matCellDef="let userList">
        {{ userList.bloodSugarOxygen }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="StartDate">
      <mat-header-cell *matHeaderCellDef>Startdate</mat-header-cell>
      <mat-cell *matCellDef="let userList">
        {{ userList.start_date }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="EndDate">
      <mat-header-cell *matHeaderCellDef>Enddate</mat-header-cell>
      <mat-cell *matCellDef="let userList">
        {{ userList.end_date }}
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnList"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: columnList; let i = index"
      [class.selected]="selectedRow == row.id"
    >
    </mat-row>
  </table>
</div>
