<app-header></app-header>
<div class="content" role="main">
  <h2><u>Overview of all study data:</u></h2>

  <table
    #table
    mat-table
    [dataSource]="studyDataSourcePagination"
    class="mat-elevation-z8"
    class="color-primary"
  >
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.Id }}</td>
    </ng-container>

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.Name }}</td>
    </ng-container>

    <ng-container matColumnDef="Beschreibung">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Beschreibung }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Startdatum">
      <th mat-header-cell *matHeaderCellDef>Start date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Startdatum | date: "dd MMM, yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Enddatum">
      <th mat-header-cell *matHeaderCellDef>End date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Enddatum | date: "dd MMM, yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Wissenschaftler">
      <th mat-header-cell *matHeaderCellDef>assigned scientists</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Wissenschaftler }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element; let rowNr = index">
        <button
          mat-raised-button
          class="bttEdit"
          color="primary"
          (click)="editStudyDialog(rowNr, element.Id)"
        >
          Edit study
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedStudyColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedStudyColumns"></tr>
  </table>
  <mat-paginator
    [length]="100"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page study data"
  >
  </mat-paginator>

  <br />
  <button mat-raised-button class="bttAdd" color="primary" (click)="addStudy()">
    Add new study
  </button>

  <br />
  <h2>
    <u>Overview study participants {{ actStudyName }}:</u>
  </h2>

  <table
    #tableStudyParticipants
    mat-table
    [dataSource]="userDataSourcePagination"
    class="mat-elevation-z8"
    class="color-primary"
  >
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.Id }}</td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Position</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.Email }}</td>
    </ng-container>

    <ng-container matColumnDef="First Name">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.FirstName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Last Name">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.LastName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Status }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element; let rowNr = index">
        <button
          mat-raised-button
          (click)="removeUserFromStudy(rowNr, element.Id)"
          color="primary"
        >
          Remove User
        </button>
        <div *ngIf="element.Status == 'accepted'">
          <button
            mat-raised-button
            (click)="
              blockOrAcceptUserForStudy(rowNr, element.Id, element.Status)
            "
            color="primary"
          >
            Block User
          </button>
        </div>
        <div *ngIf="element.Status == 'blocked'">
          <button
            mat-raised-button
            (click)="
              blockOrAcceptUserForStudy(rowNr, element.Id, element.Status)
            "
            color="primary"
          >
            Accept User
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedUserDataColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedUserDataColumns"></tr>
  </table>
  <mat-paginator
    [length]="100"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page participants"
  >
  </mat-paginator>

  <br />
  <h2><u>Enrollment key:</u></h2>
  <p>People can use this enrollment key to sign up for this study.</p>
  <p>
    Your Enrollment key for study <b>{{ enrollmentKeyStudyname }}</b> is:
    <b>{{ enrollmentKey }}</b>
  </p>
</div>
