<div class="content" role="main">
  <h2><u>Übersicht Studiendaten:</u></h2>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.Name }}</td>
    </ng-container>

    <ng-container matColumnDef="Beschreibung">
      <th mat-header-cell *matHeaderCellDef>Beschreibung</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Beschreibung }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Startdatum">
      <th mat-header-cell *matHeaderCellDef>Startdatum</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Startdatum }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Enddatum">
      <th mat-header-cell *matHeaderCellDef>Enddatum</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Enddatum }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Wissenschaftler">
      <th mat-header-cell *matHeaderCellDef>zugeordnete Wissenschaftler</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Wissenschaftler }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <br />
  <button mat-raised-button class="bttEdit" (click)="editStudyDialog()">
    Studie bearbeiten
  </button>
  <br />
  <button mat-raised-button class="bttAdd" (click)="addStudy()">
    neue Studie hinzufügen
  </button>
</div>
