<div class="container-fluid">
  <br />
  <div class="row">
    <div class="col-lg-3 col-6">
      <div class="small-box bg-info">
        <div class="inner" style="color: black">
          <h3>5</h3>
          <p>Scientists have access to this study</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="/configuration" class="small-box-footer" style="color: black">
          <p style="color: black">More info</p>
          <i class="fas fa-arrow-circle-right" style="color: black"></i
        ></a>
      </div>
    </div>

    <div class="col-lg-3 col-6">
      <div class="small-box bg-success">
        <!-- bg-warning -->
        <div class="inner" style="color: black">
          <h3>28</h3>
          <p>People participate in this study</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="/configuration" class="small-box-footer" style="color: black">
          <p style="color: black">More info</p>
          <i class="fas fa-arrow-circle-right" style="color: black"></i
        ></a>
      </div>
    </div>

    <div class="col-lg-3 col-6">
      <div class="small-box bg-danger">
        <div class="inner" style="color: black">
          <h3>41 von 70</h3>
          <p>days of the study period are completed</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="/configuration" class="small-box-footer"
          ><p style="color: black">More info</p>
          <i class="fas fa-arrow-circle-right" style="color: black"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- app study tile -->
    <section class="col-lg-7 connectedSortable">
      <app-study-tile></app-study-tile>
      <!-- Study Komponente -->
    </section>

    <!-- notes -->
    <section class="col-lg-7 connectedSortable">
      <div class="card" style="background-color: #e1e8ff">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-calendar-check mr-1"></i>
            Notes & Dates
          </h3>
          <div class="card-tools">
            <button
              mat-raised-button
              type="button"
              data-card-widget="collapse"
              color="primary"
            >
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content p-0">
            <app-notes-tile></app-notes-tile>
            <!-- Notes Komponente -->
          </div>
        </div>
      </div>
    </section>

    <!-- news -->
    <section class="col-lg-7 connectedSortable">
      <div class="card" style="background-color: #e1e8ff">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-envelope mr-1"></i>
            Public messages (visible for participants of the study)
          </h3>
          <div class="card-tools">
            <button
              mat-raised-button
              type="button"
              data-card-widget="collapse"
              color="primary"
            >
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content p-0">
            <app-news-tile></app-news-tile>
            <!-- News Komponente -->
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
