<div class="container-fluid">
  <br />
  <div class="row">
    <div class="col-lg-3 col-6">
      <div class="small-box bg-info">
        <div class="inner" style="color: black">
          <h3>5</h3>
          <p>Wissenschaftler haben Zugriff auf diese Studie</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="#" class="small-box-footer"
          >More info <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>

    <div class="col-lg-3 col-6">
      <div class="small-box bg-success">
        <!-- bg-warning -->
        <div class="inner" style="color: black">
          <h3>28</h3>
          <p>Personen nehmen an dieser Studie teil</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="#" class="small-box-footer"
          >More info <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>

    <!--
    <div class="col-lg-3 col-6">
      <div class="small-box bg-success">
        <div class="inner" style="color: black">
          <h3>53<sup style="font-size: 20px">%</sup></h3>
          <p>Aktivitätsrate der User</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer"
          >More info <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    -->

    <div class="col-lg-3 col-6">
      <div class="small-box bg-danger">
        <div class="inner" style="color: black">
          <h3>41 von 70</h3>
          <p>Tagen der Studienlaufzeit sind absolviert</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="#" class="small-box-footer"
          >More info <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- erstes Diagramm -->
    <section class="col-lg-7 connectedSortable">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-chart-pie mr-1"></i>
            Anzahl der Aktivitäten aller Nutzer
          </h3>
          <div class="card-tools">
            <ul class="nav nav-pills ml-auto">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="#revenue-first-chart"
                  data-toggle="tab"
                  >Balken-Diagramm</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#sales-first-chart" data-toggle="tab"
                  >Donut-Diagramm</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content p-0">
            <div
              class="chart tab-pane active"
              id="revenue-first-chart"
              style="position: relative; height: 300px"
            >
              <canvas
                id="first-chart"
                height="80"
                style="height: 80px"
              ></canvas>
            </div>
            <div
              class="chart tab-pane"
              id="sales-first-chart"
              style="position: relative; height: 300px"
            >
              <canvas
                id="first-chart-donut"
                height="80"
                style="height: 80px"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- zweites Diagramm -->
    <section class="col-lg-7 connectedSortable">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-chart-pie mr-1"></i>
            Verteilung der Aktivitäten aller Nutzer diesen Monat
          </h3>
          <div class="card-tools">
            <ul class="nav nav-pills ml-auto">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="#revenue-second-chart"
                  data-toggle="tab"
                  >Balken-Diagramm</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#sales-second-chart" data-toggle="tab"
                  >Donut-Diagramm</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content p-0">
            <div
              class="chart tab-pane active"
              id="revenue-second-chart"
              style="position: relative; height: 300px"
            >
              <canvas
                id="second-chart"
                height="80"
                style="height: 80px"
              ></canvas>
            </div>
            <div
              class="chart tab-pane"
              id="sales-second-chart"
              style="position: relative; height: 300px"
            >
              <canvas
                id="second-chart-donut"
                height="80"
                style="height: 80px"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
